:root {
    --scale-factor: 1;
    --grid-columns: 5;
    --grid-padding: 4px;
    --read-width: 1440px;
    --read-height: 960px;
    --main-color: rgb(109, 59, 148);
    --main-color-tint: rgba(109, 59, 148, 0.6);
    --left-offset: 0;
    --top-offset: 0;
}

html,
body,
body:fullscreen {
    background-color: var(--main-color);
}

body {
    margin: 0;
    overflow: hidden;
}

:not(:root):fullscreen::backdrop {
    background: var(--main-color);
}

#iframe-grid {
    position: relative;
    width: calc(100vw * (1 / var(--scale-factor)));
    height: calc(100vh * (1 / var(--scale-factor)));
    padding: calc(var(--grid-padding) * (1 / var(--scale-factor)));
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-gap: calc(var(--grid-padding) * (1 / var(--scale-factor)));
    transform: scale(var(--scale-factor)) translate(0%, 0%);
    transform-origin: top left;
    box-sizing: border-box;
    z-index: 1;
    overflow: scroll;
    transition: transform 500ms ease-in;
}

#iframe-grid:has(.active) {
    height: auto;
    transform: scale(.9) translate(var(--left-offset), var(--top-offset));
}

.thesis {
    opacity: 0.6;
    overflow: hidden;
    transition: all 500ms ease;
}

.thesis,
.thesis iframe {
    width: var(--read-width);
    height: var(--read-height);
    border: 0;
    margin: 0;
    outline: 0;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thesis iframe {
    position: absolute;
    left: 0;
    top: 0;
}

.thesis::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: -5px;
    top: -5px;
    background: var(--main-color);
    backdrop-filter: blur(8px);
    mix-blend-mode: multiply;
    z-index: 999;
    transition: all 500ms ease;
}

.thesis:hover {
    opacity: 1;
}

.thesis:hover::before {
    background: transparent;
    backdrop-filter: blur(0);
    pointer-events: all;
    cursor: pointer;
}

.thesis.active {
    outline: 2px solid white;
}

.thesis.active::before {
    display: none;
    pointer-events: none;
}
